<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="busservice.dao.IBusDAO">
    <resultMap id="BusMap" type="Bus">
        <id property="id" column="id"/>
        
        <collection property="stops" ofType="BusStop">
            <id property="id" column="id"/>
            <result property="longitude" column="longitude"/>
            <result property="latitude" column="latitude"/>
            <result property="name" column="stop_name"/>
            <result property="isTerminal" column="isTerminal"/>
            <result property="city.id" column="city_id"/>
            <result property="city.name" column="name"/>
        </collection>
    </resultMap>

    <select id="getById" resultMap="BusMap">
        SELECT id
        FROM bus
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="BusMap">
        SELECT * FROM bus
        JOIN route
        ON bus.id = route.bus_id
        JOIN bus_stop
        ON route.stop_id = bus_stop.id
    </select>

    <insert id="insert" parameterType="Bus">
        INSERT INTO bus
        (id)
        VALUES (#{id})
    </insert>

    <update id="update" parameterType="map">
        UPDATE bus SET
        id = #{object.id}
        WHERE id = #{object.id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM bus
        WHERE id = #{id}
    </delete>
</mapper>