<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="busservice.dao.IBusDAO">
    <resultMap id="BusMap"
               type="Bus"
               autoMapping="false">
        <id property="id" column="bus_id"/>
        <result property="line" column="bus_line"/>
        <collection property="route"
                    javaType="ArrayList"
                    ofType="BusStop"
                    resultMap="busservice.dao.IBusStopDAO.NestedBusStopMap"/>
    </resultMap>

    <resultMap id="NestedBusMap"
               type="Bus"
               autoMapping="false">
        <id property="id" column="bus_id"/>
        <result property="line" column="bus_line"/>
        <collection property="route"
                    javaType="Arraylist"
                    ofType="BusStop"
                    select="getRouteByBusId"
                    column="route_bus_id">
            <id property="id" column="bus_stop_id"/>
            <result property="longitude" column="bus_stop_longitude"/>
            <result property="latitude" column="bus_stop_latitude"/>
            <result property="name" column="bus_stop_name"/>
            <result property="isTerminal" column="bus_stop_is_terminal"/>
            <association property="city"
                         javaType="City"
                         resultMap="busservice.dao.ICityDAO.CityMap"/>
        </collection>
    </resultMap>

    <sql id="busColumns">
        b.id as bus_id,
        b.line as bus_line,
        bs.id as bus_stop_id,
        bs.longitude as bus_stop_longitude,
        bs.latitude as bus_stop_latitude,
        bs.stop_name as bus_stop_name,
        bs.is_terminal as bus_stop_is_terminal,
        r.id as route_id,
        r.bus_id as route_bus_id,
        r.stop_id as route_stop_id,
        c.id as city_id,
        c.name as city_name
    </sql>

    <select id="getById" resultMap="BusMap" parameterType="int">
        SELECT
        <include refid="busColumns"/>
        FROM bus b
        JOIN route r ON b.id = r.bus_id
        JOIN bus_stop bs ON r.stop_id = bs.id
        JOIN city c ON bs.city_id = c.id
        WHERE b.id = #{id}
        ORDER BY r.id
    </select>

    <select id="getAll" resultMap="BusMap">
        SELECT
        <include refid="busColumns"/>
        FROM bus b
        JOIN route r ON b.id = r.bus_id
        JOIN bus_stop bs ON r.stop_id = bs.id
        JOIN city c ON bs.city_id = c.id
        ORDER BY r.id
    </select>

    <select id="getAllRoutes" resultMap="busservice.dao.IBusStopDAO.BusStopMap">
        SELECT
        <include refid="busColumns"/>
        FROM route r
        JOIN bus b ON b.id = r.bus_id
        JOIN bus_stop bs ON r.stop_id = bs.id
        JOIN city c ON bs.city_id = c.id

        ORDER BY r.id
    </select>

    <select id="getRouteByBusId" resultMap="busservice.dao.IBusStopDAO.NestedBusStopMap" parameterType="int">
        SELECT
        <include refid="busColumns"/>
        FROM route r
        JOIN bus b ON b.id = r.bus_id
        JOIN bus_stop bs ON r.stop_id = bs.id
        JOIN city c ON bs.city_id = c.id
        WHERE b.id = #{id}
        ORDER BY r.id
    </select>

    <insert id="insert" parameterType="Bus">
        INSERT INTO bus(id)
        VALUES (#{bus.id})
    </insert>

    <update id="update" parameterType="Bus">
        UPDATE bus b
        SET b.line = #{bus.line}
        WHERE b.id = #{bus.id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE
        FROM bus b
        WHERE b.id = #{id}
    </delete>
</mapper>