<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <typeAliases>
        <typeAlias alias="City" type="busservice.models.City"/>
        <typeAlias alias="Bus" type="busservice.models.Bus"/>
        <typeAlias alias="BusStop" type="busservice.models.BusStop"/>

        <!--
        <typeAlias alias="Route" type="jdbc.model.Route"/>
         -->
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${pass}"/>
                <property name="poolTimeToWait" value="${poolTimeToWait}"/>
                <property name="poolMaximumActiveConnections" value="${poolMaximumActiveConnections}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/cityMapper.xml"/>
        <mapper resource="mappers/busMapper.xml"/>
        <mapper resource="mappers/busStopMapper.xml"/>
        <!--
        <mapper resource="myBatis/mappers/busMapper.xml"/> -->
    </mappers>
</configuration>